@charset "UTF-8";
/* CSS Document */

/* Print style for Product Detail */

#header_search,#header_sub_nav_1,#header_sub_nav_2,.header-social-channels,#header-main-nav,#MessageArea,#breadcrumb-section,.side-column,#footer-container,.product-image-container #product-carousel,.recently_products{display:none}
#logo{padding:40px 0 20px !important;margin:0 auto 30px !important;width:944px !important;border-bottom:solid 2px #ddd; border-top:solid 2px #ddd}
.main-column{padding:0}
#content-wrap, #main-container{width:944px !important}

/*
#logo{padding:40px 0 20px !important;margin:0 auto 30px !important;width:730px !important;border-bottom:solid 2px #ddd; border-top:solid 2px #ddd}
.main-column{padding:0}
#content-wrap, #main-container{width:730px !important}*/
.product-tab-selection,.product-tabs-menu,.product-tab-option,.product-tab-option.selected,#top_features{border:none !important}
.product-tab-option{display:none}
.product-tab-option.selected{display:block}
.product-tab-selection{padding:2.9% 2.9% 2.9% 1.3%}

.product_detail #main-container.caspers .product-title
{ position:relative;width:400px; top:-150px;left:-80px;font-size: 18px !important; color: #333 !important; }

.product_detail #main-container.caspers #product_rating,
.product_detail #main-container.caspers #BVRRRatingSummaryLinkWriteFirstID,
.product_detail #main-container.caspers #product_tabs_menu
{ display:none; }

.product_detail #main-container.caspers .product-description,
.product_detail #main-container.caspers .BVRRRatingSummary
{ position:relative;top:-110px; }

.product_detail #main-container.caspers #product_tabs_menu,
.product_detail #main-container.caspers #producthelp,
.product_detail #main-container.caspers #manualsandliterature,
.product_detail #main-container.caspers #partsandaccessories,
.product_detail #main-container.caspers #ratingsandreviews
{ display:none; }

.product_detail #main-container.caspers #features,
.product_detail #main-container.caspers #specifications
{ display:inline !important; }

.product_detail #main-container.caspers .product_tab_section,
.product_detail #main-container.caspers .product_help_tab_section #top_features .feature,
.product_detail #main-container.caspers #features #top_features .feature
{ border:none !important; }

.product_detail #main-container.caspers .product_help_tab_section #top_features .feature,
{ float:left !important; width:100% !important; padding:0 !important; }