.color-swatches {
	display:block;
	float:left;
	margin-bottom:10px;
	min-height:27px;
}

.row_cell .color-swatches {
	margin-top:10px;
}

.color-swatches img {
	margin-bottom:1px;
	cursor:pointer;
	margin-right:5px;
}

.color-swatches .selected {
	border:1px solid #000;
	padding:1px;
	margin:0 3px -1px -2px;
}

.color-swatches .more-swatches {
	margin-bottom:5px;
}