#wf_wrapper {
	margin-top: 2px;
	width: 960px;
}
#wf_wrapper h1 {
	color: #666666;
	font-size: 21px;
	margin: 10px 0 25px;
	font-weight:bold;
}
.wf_con {
	width: 422px;
	height: 402px;
	padding: 85px 0 0 529px;
	background: url('/images/jump-pages/ka_wf_hero.jpg');
}
html[lang="fr"] .wf_con {
	padding: 81px 0 0 527px;
	background: url('/images/jump-pages/ka_wf_hero_fr.jpg');
}
.wf_con div {
	width: 365px;
}
html[lang="fr"] .wf_con h2 {
	font-size: 23px;
}
.wf_con h2 {
	text-transform: none;
	color: #80c0d9;
	font-weight: 300;
	margin-bottom: 10px;
	font-size: 23px;
}
.wf_con h3 {
	font-size: 14px;
	font-weight: normal;
	margin-bottom: 52px;
}
.wf_con ul li {
	list-style: disc outside none;
}
html[lang="fr"] .wf_con h3 {
	margin-bottom: 29px;
}
.wf_con ul {
	display: block;
	margin: 16px 0 10px 20px;
}
#wf_btn {
	width: 297px;
	height: 50px;
	left: -507px;
	top: 230px;
	background-color: #24a5df;
	margin: 30px 8px 10px;
	position: relative;
}
#wf_btn * {
	color: white;
	width: inherit;
	height: 50px;
}
#wf_btn a {
	position: absolute;
	width: inherit;
	height: inherit;
	text-align: center;
}
#wf_btn span {
	line-height: 48px;
	font-size: 26px;
	font-weight: 100;
}
.wf-con a span {
	color: #005ABB;
	margin-left: 10px;
}
#wf_wrapper #breadcrumb, ul#breadcrumb,  ul#breadcrumb li{
	float: none !important;
	display: inline-block !important;
}
