#wf_wrapper {
	margin-top: 142px;
	width: 960px;
}
#wf_wrapper h1 {
	color: #666666;
	font-size: 21px;
	margin: 10px 0 25px;
	font-weight:bold;
}
#wf_wrapper header{
    padding-top: 20px;
}
.wf_con {
	width: 422px;
	height: 312px;
	padding: 79px 0 0 529px;
	background: url('/images/data/en_CA/wp_wf_hero.jpg');
}
html[lang="fr"] .wf_con {
	padding: 81px 0 0 527px;
}
.wf_con div {
	width: 365px;
}
html[lang="fr"] .wf_con h2 {
	font-size: 23px;
}
.wf_con h3 {
	font-size: 14px;
	font-weight: normal;
}
.wf_con ul li {
	list-style: disc outside none;
}
html[lang="fr"] .wf_con ul, .wf_con a {
	/*margin: 0 0 35px 20px;*/
}
.wf_con ul, .wf_con a {
	display: block;
	margin: 22px 0 10px 20px;
}
.wf-con a span {
	color: #005ABB;
	margin-left: 10px;
}
#wf_wrapper #breadcrumb, ul#breadcrumb,  ul#breadcrumb li{
	float: none !important;
	display: inline-block !important;
}
